.idea/*
upload/*
bitrix/php_interface/*
!/bitrix/php_interface/init.php
bitrix/managed_cache/*
bitrix/backup/*
bitrix/cache/*
bitrix/stack_cache/*
bitrix/html_pages/*
bitrix/catalog_export/*
bitrix/license_key.php
bitrix/.settings.php
.htaccess
yandex_*
google*
mailru-*
*.log
*.tar
*.zip
*.xml
log_askaron_pro1c__*
